<app-blog></app-blog>

<div class="bg-gray-100 min-h-screen flex flex-col items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-3xl font-semibold mb-4">Create a New Blog Post</h2>
    <form (ngSubmit)="createNewBlogPost()" #blogPostForm="ngForm">
      <div class="mb-4">
        <label for="title" class="text-gray-600">Title:</label>
        <input type="text" id="title" name="title" required [(ngModel)]="newBlogPost.title" class="w-full border rounded-lg p-2">
      </div>
      <div class="mb-4">
        <label for="body" class="text-gray-600">Body:</label>
        <textarea id="body" name="body" required [(ngModel)]="newBlogPost.body" class="w-full border rounded-lg p-2"></textarea>
      </div>
      <button type="submit" class="bg-stone-300 text-white rounded-full p-2 px-4 hover:bg-stone-400">Create</button>
    </form>
  </div>
</div>


