<div class="bg-gray-100 mx-auto">
    <!-- Welcome Section -->
    <header class="bg-cover bg-center h-96" style="background-image: url('https://images.unsplash.com/photo-1600818797017-d6e5027210bb?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8aHlnZ2V8ZW58MHx8MHx8fDA%3D');">
        <div class="flex items-center justify-center h-full text-white">
            <div class="text-center">
                <h1 class="text-4xl font-extrabold">Welcome to My Blog</h1>
                <p class="text-xl mt-4">Discover amazing stories and articles.</p>
                <a href="/blog" class="mt-8 bg-stone-300 text-white font-semibold py-2 px-6 rounded-full inline-block hover:bg-stone-500">Read Now</a>
            </div>
        </div>
    </header>

    <!-- Featured Posts Section -->
    <section class="container mx-auto mt-8 px-4">
        <h2 class="text-2xl font-semibold">Featured Posts</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-4">
            <!-- Featured Post 1 -->
            <div class="bg-white rounded-lg shadow-md">
                <img src="https://images.unsplash.com/photo-1581497396202-5645e76a3a8e?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGh5Z2dlfGVufDB8fDB8fHww" alt="Featured Post 3" class="w-full h-48 object-cover rounded-t-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Post Title 1</h3>
                    <p class="text-gray-600 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="/blog/5" class="text-blue-500 mt-4">Read More</a>
                </div>
            </div>
            <!-- Featured Post 2 -->
            <div class="bg-white rounded-lg shadow-md">
                <img src="https://images.unsplash.com/photo-1615257038052-acf260e51537?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fGh5Z2dlfGVufDB8fDB8fHww" alt="Featured Post 3" class="w-full h-48 object-cover rounded-t-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Post Title 2</h3>
                    <p class="text-gray-600 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="/blog/6" class="text-blue-500 mt-4">Read More</a>
                </div>
            </div>
            <!-- Featured Post 3 -->
            <div class="bg-white rounded-lg shadow-md">
                <img src="https://images.unsplash.com/photo-1592868531134-2038eca9c628?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjZ8fGh5Z2dlfGVufDB8fDB8fHww" alt="Featured Post 3" class="w-full h-48 object-cover rounded-t-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Post Title 3</h3>
                    <p class="text-gray-600 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="/blog/7" class="text-blue-500 mt-4">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Author Info Section -->
    <section class="bg-stone-200 py-8 m-4 rounded-lg shadow-md">
        <div class="container mx-auto flex flex-col items-center">
            <div class="text-center">
                <h2 class="text-2xl font-semibold text-white">About the Author</h2>
                <p class="text-gray-600 mt-4 w-3/4 mx-auto p-4">
                    Jane Doe is a passionate writer who loves sharing her thoughts and experiences through her blog. She explores various topics and hopes to inspire others with her writing.
                </p>
            </div>
            <div class="text-center mt-4">
                <div class="rounded-full overflow-hidden w-36 h-36">
                    <img src="https://plus.unsplash.com/premium_photo-1661688383093-53ec03420f7c?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aGFwcGluZXNzfGVufDB8fDB8fHww" alt="Author" class="w-full h-full object-cover">
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-stone-500 text-white py-4">
        <div class="container mx-auto text-center">
            &copy; 2023 Julia Hiller. All rights reserved.
        </div>
    </footer>
</div>

